<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>
  <log4net>
    <root>
      <!-- Log4Net level configuration -->
      <level value="ALL" />
      <!-- Appenders: Where messages are appended -->
      <!-- Appender Declaration -->
      <appender-ref ref="consoleAppender" />
      <appender-ref ref="rollingFileAppender" />
    </root>
    <!-- Appenders Definition -->
    <appender name="consoleAppender" type="log4Net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline" />
      </layout>
    </appender>
    <appender name="rollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../log/unitTest_Service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger.%M() - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <defaultDocument>
      <files>
        <clear />
        <add value="ReceiverPage.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>

  <connectionStrings>
    <add name="GCP_test" connectionString="user id=gcpuser;password=gcpuserABC123;server=192.168.3.200;Trusted_Connection=no;database=GCP_test;connection timeout=30;" />
  </connectionStrings>
  
</configuration>